/node_modules
/storage/*.key
/vendor
public/upload/users/*.*
public/upload/users/comp/*.*
public/upload/berkas_ktp/*.*
public/upload/berkas_kk/*.*
public/upload/berkas_bukti_pembayaran/*.*
public/upload/berkas_sertifikat/*.*
public/upload/berkas_ajb/*.*
public/upload/rekening/*.*
public/web/images/*.*
public/web/files/*.*
.env
.env.backup
*.zip
*.rar
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
